<ion-content class="ion-padding" style="--background: #ffffff;">
  <div class="tiendas-container">

    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Tiendas</ion-title>
      </ion-toolbar>
    </ion-header>

    <!-- Barra de búsqueda -->
    <ion-searchbar placeholder="Buscar tiendas" animated></ion-searchbar>

    <!-- Lista de tiendas -->
    <div class="tiendas-grid">
      <ion-card class="tienda-card">
        <img src="assets/img/panaderia.jpg" alt="Panadería Delicias" />
        <ion-card-header>
          <ion-card-title>Panadería Delicias</ion-card-title>
          <ion-card-subtitle>Avenida Angamos #0492</ion-card-subtitle>
        </ion-card-header>
      </ion-card>

      <ion-card class="tienda-card">
        <img src="assets/img/fruteria.jpg" alt="Frutería Natural" />
        <ion-card-header>
          <ion-card-title>Frutería Natural</ion-card-title>
          <ion-card-subtitle>Av. Juan Soldado #421</ion-card-subtitle>
        </ion-card-header>
      </ion-card>

      <ion-card class="tienda-card">
        <img src="assets/img/carniceria_1.jpg" alt="Carnicería La Vaquita" />
        <ion-card-header>
          <ion-card-title>Carnicería La Vaquita</ion-card-title>
          <ion-card-subtitle>Diego Portales #904</ion-card-subtitle>
        </ion-card-header>
      </ion-card>

      <ion-card class="tienda-card">
        <img src="assets/img/supermercado.jpg" alt="Supermercado Eco" />
        <ion-card-header>
          <ion-card-title>Supermercado Eco</ion-card-title>
          <ion-card-subtitle>Dardignac #191</ion-card-subtitle>
        </ion-card-header>
      </ion-card>

      <!-- Tiendas adicionales -->
      <ion-card class="tienda-card">
        <img src="assets/img/waffles_1.jpg" alt="The Dolly Llama" />
        <ion-card-header>
          <ion-card-title>The Dolly Llama</ion-card-title>
          <ion-card-subtitle> Constitución #110</ion-card-subtitle>
        </ion-card-header>
      </ion-card>

      <ion-card class="tienda-card">
        <img src="assets/img/subway.jpg" alt="Subway" />
        <ion-card-header>
          <ion-card-title>Subway Maipú</ion-card-title>
          <ion-card-subtitle>Av pajaritos #355</ion-card-subtitle>
        </ion-card-header>
      </ion-card>

      <ion-card class="tienda-card">
        <img src="assets/img/completos.jpg" alt="Ruta 77" />
        <ion-card-header>
          <ion-card-title>Ruta 77</ion-card-title>
          <ion-card-subtitle>Central Gonzalo Pérez Llona #497, local 3</ion-card-subtitle>
        </ion-card-header>
      </ion-card>

      <ion-card class="tienda-card">
        <img src="assets/img/cafeteria.jpg" alt="Panadería Artesanal" />
        <ion-card-header>
          <ion-card-title>Cafeteria Brunch</ion-card-title>
          <ion-card-subtitle>Av. Italia #1449</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </div>

  </div>
</ion-content>
