<ion-tabs>
  <ion-tab-bar slot="bottom" color="light">
    <ion-tab-button tab="home" routerLink="/tabs/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ofertas" routerLink="/tabs/ofertas">
      <ion-icon name="pricetag-outline"></ion-icon>
      <ion-label>Ofertas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tiendas" routerLink="/tabs/tiendas">
      <ion-icon name="storefront-outline"></ion-icon>
      <ion-label>Tiendas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" routerLink="/tabs/perfil">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
